@page
@model MusicFlow.Pages.Forum.IndexModel
@{
    ViewData["Title"] = "Forum - Music Flow";
}
<div class="d-flex justify-content-between mb-2">
    <h3>Forum</h3>
    <button class="btn btn-success float-right" type="button" data-toggle="collapse" data-target="#createThread">New thread</button>
</div>

<div class="card mb-3 collapse" id="createThread">
    <div class="card-header text-white bg-success">
        Create thread
    </div>
    <div class="card-body" method="POST">
        <label for="topic" class="form-label">Thread topic</label>
        <form class="input-group mb-3" method="POST">
            <input type="text" class="form-control" id="topic" placeholder="Untitled thread">
            <button type="submit" class="btn btn-info w-25">Create</button>
        </form>
    </div>
</div>

@foreach (var thread in Model.Threads) {
<div class="card border-secondary mb-3">
    <div class="card-header bg-secondary">
        @if (thread.Pinned)
        {
            <span class="badge bg-light">Pinned</span>
        }
        @if (thread.Locked)
        {
            <span class="badge bg-dark text-white">Locked</span>
        }
        <a href="/forum/@thread.Tid" class="font-weight-bolder @(thread.Pinned ? "text-warning" : "text-white")">@thread.Topic</a>
    </div>
    <div class="card-body">
        <img style="height: 25px;" class="rounded-circle" src="@thread.Owner.AvatarURL" />
        Created by @thread.Owner.Username
    </div>
</div>
}