@page
@model MusicFlow.Pages.Forum.IndexModel
@{
    ViewData["Title"] = "Forum - Music Flow";
}
<div class="d-flex justify-content-between mb-2">
    <h3>Forum</h3>
    <button class="btn btn-success float-right" type="button" data-toggle="collapse" data-target="#createThread">New thread</button>
</div>

<div class="card mb-3 collapse" id="createThread">
    <div class="card-header text-white bg-success">
        Create thread
    </div>
    <form class="card-body" method="POST">
        <label for="topic" class="form-label">Thread topic</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="topic" placeholder="Untitled thread">
            <button type="submit" class="btn btn-info w-25">Create</button>
        </div>
    </form>
</div>

@foreach (var thread in Model.Threads) {
<div class="card border-secondary mb-3">
    <div class="card-header bg-secondary">
        <a href="/forum/@thread.Tid" class="font-weight-bolder text-white">@thread.Topic</a>
    </div>
    <div class="card-body">
        Created by @thread.Oid
    </div>
</div>
}