@page
@model MusicFlow.Pages.AboutModel
@{ 
    ViewData["Title"] = "About Us - Music Flow";
}

<h1>MusicFlow</h1>
<p>
    <b>MusicFlow</b> - music website, that keeps user-owned libraries to make music play & share easier
    Got any questions, bugs or suggestions? Contact us at <a href="mailto:emailhere@example.com">emailhere@example.com</a>
</p>