@page
@model ErrorModel
@{
    ViewData["Title"] = "Error - Music Flow";
}

<h1 class="text-danger">Oops...</h1>
<h2 class="text-danger">Something went wrong.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Contact the website administrator with the ReqID: </strong> <code>@Model.RequestId</code>
    </p>
}
