@page
@model MusicFlow.Pages.LoginModel
@{ViewData["Title"] = "Sign in - MusicFlow";}
<link rel="stylesheet" href="~/css/auth.css" />
<div class="AuthPage">
    <form class="AuthContainer" id="auth" method="post">
        <h1>Sign in</h1>
        <input class="TextInput" type="email" name="email" placeholder="Email" />
        <input class="TextInput" type="password" name="password" placeholder="Password" />
        <p id="tooltip" />
        <div class="FormButtonLine">
            <input class="FormButton" type="submit" value="Login" />
        </div>
        <p>Haven't registered? <a href="/register">Register here</a></p>
    </form>
</div>
<script src="~/js/auth.js"></script>