@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using MusicFlow.Entities 
@inject IHttpContextAccessor httpContextAccessor
@{
    string username = httpContextAccessor.HttpContext.User.Identity.Name;
    UserRole label = (UserRole)byte.Parse(httpContextAccessor.HttpContext.User?.FindFirstValue(ClaimTypes.Role) ?? "0");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav id="nav" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="/img/logo.svg" />
                    MusicFlow
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (username is not null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/library/index">My library</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/forum/index">Forum</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/library/index">Something</a>
                            </li>
                        }
                        <li class="nav-item flex-grow-1">
                            <a class="nav-link text-white" asp-area="" asp-page="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/search">
                                <img src="/img/Search.svg" />
                            </a>
                        </li>
                        @if (username is not null)
                        {
                            <li class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @username
                                    @if (label is not 0)
                                    {
                                        <span class="badge bg-secondary">@label</span>
                                    }
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-area="" asp-page="/profile">Profile</a>
                                    <a class="dropdown-item" asp-area="" asp-page="/logout">Logout</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <div class="btn-group" role="group" aria-label="Auth">
                                    <a type="button" class="btn btn-info" asp-area="" asp-page="/login">Sign in</a>
                                    <a type="button" class="btn btn-outline-info" asp-area="" asp-page="/register">Register</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-dark footer text-muted">
        <div class="container text-white">
            MusicFlow by <a href="https://github.com/tyuop077">tyuop077</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
